@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/RFDewiExpanded/fonts/RFDewiExpanded-Bold.ttf');
}

@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/RFDewiExpanded/RFDewiExpanded-Semibold.ttf');
}

@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/RFDewiExpanded/RFDewiExpanded-Regular.ttf');
}