.real-estate-catalog-sec {
    padding-top: 50px;
    padding-bottom: 100px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }
}

.real-estate-catalog-sec__body {
    width: calc(100% - 776px);
    padding-right: 50px;
}

.real-estate-catalog-sec__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.real-estate-catalog-sec__title {
    font-family: $titleFont;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $textColorDark;
}

.units-order-wrapper {
    display: flex;
}

.units-order-element {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;

    svg {
        display: block;
    }
}

.units-order-element_activ {
    background: $greenV1;

    svg {
        path {
            fill: $white;
        }
    }
}

.real-estate-catalog-sec__seo-text-wrapper {
    width: 100%;
    display: flex;
    margin-top: 11px;
    margin-bottom: 20px;
}

.real-estate-catalog-sec__seo-text {
    width: 823px;

    p {
        color: rgba(28, 39, 76, 0.61);
        font-family: $titleFont;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.real-estate-catalog-sec__seo-text-wrapper-btn {
    cursor: pointer;
    border-radius: 100px;

    svg {
        display: block;

    }
}

.object-filtr-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    margin-bottom: 24px;
}

.object-filtr-row__fields-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.object-filtr-row__element {
    margin-right: 15px;
}

.object-filtr-row__el-1 {
    width: 140px;
}

.object-filtr-row__el-2 {
    width: 185px;
}

.object-filtr-row__el-3 {
    width: 150px;
}

.filtr-cancel {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    background: $greenV1;

    svg {
        display: block;
    }
}

.real-estate-catalog-sec__objects-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin-left: -10px;
    position: relative;
    z-index: 2;

}

.real-estate-catalog-sec__objects-container_table-view {
    .object-element {
        width: calc(33.333% - 20px);
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        padding: 10px 10px 15px 10px;
        border-radius: 12px;
        display: block;
    }

    .object-element__img-wrapper {
        width: 100%;
        height: 230px;
        border-radius: 10px;
    }

    .object-element__like {
        top: 5px;
        right: 5px;
    }

    .object-element__body {
        padding: 15px 0 0 0;
        width: 100%;
        height: calc(100% - 230px);
    }

    .object-element__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .object-element__location-row {
        width: 100%;
        flex-wrap: wrap;
    }

    .btn-v1-small {
        margin-top: 0px;
        color: #5D736E;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        background: none;
        text-decoration: underline;
    }

    .object-element__location {
        align-items: flex-start;
        max-width: 100%;
    }

    .object-element__short-description {
        display: none;
    }


    .object-element__button-row {
        .object-element__developer-big-card {
            display: none;
        }
    }

    .object-element__btn-view-object {
        width: 100%;
        padding: 13px 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    }

    .object-element__developer-table-view {
        display: block;
        width: 100%;
    }

    .object-element__info-row {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }

    .object-element__info-element {
        font-size: 13px;
        line-height: 1;
        margin-bottom: 15px;

        b {
            font-size: 14px;
        }
    }

    .object-element__developer-big-card {
        img {
            max-height: 30px;
        }
    }

    .object-element__body-top {
        margin-bottom: 20px;
    }

}

.estate-map {
    width: 776px;
    height: calc(100vh - 100px);
    position: sticky;
    top: 50px;
}