.single-object-container {
    width: 1520px;
    margin: 0 auto;
}

.single-object-front-sec {
    padding-top: 30px;
    padding-bottom: 120px;
}

.object-breadcrumbs__list {
    display: flex;
    align-items: center;

}

.object-breadcrumbs__item {
    margin-right: 4px;

    span {
        color: rgba(28, 39, 76, 0.46);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.object-breadcrumbs__item_current {
    span {
        font-weight: 500;
        color: $textColorDark;
    }
}

.single-object-front-sec__info-container {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    height: 760px;
    width: 100%;
}

.single-object-front-sec__bg-img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.single-object-front-sec__info-wrapper {
    position: absolute;
    width: 100%;
    height: 390px;
    z-index: 3;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding: 0 60px 60px 60px;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.00) 0%, rgba(18, 18, 18, 0.70) 100%);
}

.single-object-front-sec__info-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.single-object-front-sec__info-left {
    width: 970px;

    .single-object-front-sec__info-adress {
        .object-element__location-text {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            color: white;
        }

        svg {
            width: 24px;
            height: auto;
            display: block;
        }

    }

    .object-element__location-btn {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin-top: 7px;
        margin-left: 30px;
    }
}

.single-object-front-sec__info-title {
    color: $white;
    font-family: $titleFont;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    margin-bottom: 20px;

}

.single-object-front-sec__info-price {
    text-align: right;
    color: $white;
    font-family: $titleFont;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 25px;

    span {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    b {
        color: $greenV3;
        font-weight: 400;
    }
}

.single-object-front-sec__info-right-brn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.single-object-front-sec__characteristics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.single-object-front-sec__characteristics-element {
    border-radius: 100px;
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    width: 280px;
}

.single-object-front-sec__characteristics-element-icon-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background: $greenV1;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: block;
    }
}

.single-object-front-sec__characteristics-element-data-wrapper {
    width: calc(100% - 60px);
    padding-left: 15px;
    padding-right: 15px;

}

.single-object-front-sec__characteristics-element-title {
    color: rgba(28, 39, 76, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.single-object-front-sec__characteristics-element-value {
    margin-top: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $textColorDark;

    b {
        color: $textColorDark;
        font-family: $titleFont ;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    span {
        color: $greenV1;
    }
}

.single-object-front-sec__characteristics-element-value_type {
    b {
        font-size: 16px;
    }
}

.single-object-description-sec {
    padding-bottom: 150px;
}

.single-object-description-sec {
    .single-object-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.single-object-description-sec__title {
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    width: 580px;
    font-family: $titleFont;
    color: $textColorDark;
    position: sticky;
    top: 50px;
}

.single-object-description-sec__text-container {
    position: relative;
    width: 824px;
    padding-top: 15px;
}

.single-object-description-sec__text {
    position: relative;
    overflow: hidden;
    height: 550px;
    width: 100%;
    transition: all ease 0.7s;

    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        width: 100%;
        height: 130px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 67.79%);
        content: "";
        transition: all ease 0.3s;
    }
}

.single-object-description-sec__text_activ {
    &::before {
        opacity: 0;
        height: 0;
    }
}

.wp-editor {
    color: $textColorDark;
    padding-bottom: 30px;

    b,
    strong {
        color: $greenV2;
        font-weight: 400;
    }

    a {
        color: $greenV2;
        text-decoration: underline;
    }

    p {
        margin-bottom: 30px;
        font-family: $titleFont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        b,
        strong {
            color: $greenV2;
            font-weight: 600;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $titleFont;
        margin-bottom: 20px;
        line-height: 1.2;
        font-weight: 600;

        b,
        strong {
            color: $greenV2;
            font-weight: 600;
        }
    }

    h1,
    h2 {
        font-size: 28px;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 22px;
    }

}

.single-object-description-sec__text-btn-row {
    border-radius: 2px;
    border-top: solid 1px rgba(93, 115, 110, 0.50);
    padding-top: 40px;


}

.single-object-description-sec__text-btn {
    display: inline-flex;
    align-items: center;

    svg {
        transition: all ease 0.3s;
        display: block;
        margin-left: 12px;
    }
}

.single-object-description-sec__text-btn_activ {
    svg {
        transform: rotate(180deg);
    }
}

.single-object-characteristics-sec {
    padding-bottom: 150px;
}

.single-object-title-v1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    font-family: $titleFont;
    color: $textColorDark;
}

.single-object-characteristics-sec__title {
    margin-bottom: 60px;
}

.single-object-characteristics-sec__row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 40px);
    margin-left: -20px;
}

.single-object-characteristics-sec__cluster {
    width: calc(33.33% - 40px);
    margin: 0 20px 0 20px;
}

.characteristics-cluster-list__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: solid 1px rgba(223, 223, 223, 0.56);

    &:first-child {
        border-top: solid 1px rgba(223, 223, 223, 0.56);
    }
}

.characteristics-cluster-list__item-name {
    color: rgba(28, 39, 76, 0.60);
    width: 45%;
    font-family: $titleFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.characteristics-cluster-list__item-value {
    font-size: 14px;
    font-family: $titleFont;
    color: $textColorDark;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    width: 55%;
    text-align: right;

    b {
        color: $greenV2;
        font-weight: 600;
    }
}

.characteristics-cluster-list__item-link {
    color: $greenV2;
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
    }
}

.characteristics-cluster-list__item-value--small-text {
    font-size: 12px;
}

.single-object-apartments-layout-sec {
    padding-bottom: 150px;
}

.single-object-apartments-layout-sec__title {
    margin-bottom: 50px;
}

.single-object-apartments-layout-sec__slider-wrapper {
    width: calc(100% + 30px);
    margin-left: -15px;
    position: relative;
}

.apartments-layout-slider__item {
    padding: 10px 15px;
}

.apartments-layout-slider__item-wrapper {
    border-radius: 10px;
    background: $white;
    transition: all ease 0.3s;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 30px;

    &:hover {
        background: $greyV2;
        transition: all ease 0.3s;
    }
}

.apartments-layout-slider__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.apartments-layout-slider__item-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    font-family: $titleFont;
    color: $textColorDark;
}

.apartments-layout-slider__item-sale {
    background: $greenV2;
    border-radius: 100px;
    padding: 4px 8px;
    color: $white;
    font-family: $titleFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
}

.apartments-layout-slider__item-plan-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.apartments-layout-slider__item-plan {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.apartments-layout-slider__item-dop-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.apartments-layout-slider__item-type-name {
    color: $textColorDark;
    font-family: $titleFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 18px */
}

.apartments-layout-slider__item-current-price {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: $greenV2;
    font-family: $titleFont;
    text-align: right;
    margin-bottom: 5px;
}

.apartments-layout-slider__item-old-price {
    color: $greyV1;
    font-family: $titleFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: right;
    /* 14px */
    text-decoration-line: line-through;
}



.apartments-layout-slider__item-dop-info-string-value {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $greyV1;
    margin-right: 7px;
    padding-right: 9px;
    position: relative;

    &::before {
        right: 0;
        top: 4px;
        width: 4px;
        height: 4px;
        border-radius: 10px;
        background: $greyV1;
        content: "";
        position: absolute;
    }

    &:last-child {

        &::before {
            width: 0;
            height: 0;
            opacity: 0;
        }

    }
}

.custom-nav {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #EEF0F2;
    background: #FFF;
    cursor: pointer;
    z-index: 10;
    top: calc(50% - 30px);
    transition: all ease 0.3s;

    &:hover {
        background: $greyV2;
        transition: all ease 0.3s;
    }

    svg {
        display: block;
    }
}

.swiper-button-prev {
    left: -75px;
}

.swiper-button-next {
    right: -75px;
}

.apartments-layout-server {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .apartments-layout-slider__item {
        margin-bottom: 30px;
        width: calc(33.333%);
    }
}

.single-object-gallery-sec {
    padding-bottom: 150px;
}

.single-object-gallery-sec__title-row {
    display: flex;
    justify-content: space-between;
}

.single-object-gallery-sec__title {
    width: 530px;
    line-height: 1;
}

.single-object-gallery-sec__description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 824px;
    font-family: $titleFont;
    color: $textColorDark;

}

.single-object-gallery-sec__slider-wrapper {
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.gallery-slider {

    width: 3990px;

    .swiper-slide-next {
        .gallery-slider__item-wrapper {
            &::before {
                opacity: 0;
            }
        }

        .gallery-slider__item-image {
            height: 100%;
        }
    }

}

.gallery-slider__item-image {
    width: 100%;
    height: 660px;
    position: relative;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: all ease 0.3s;
    z-index: 1;
}

.gallery-slider__item-wrapper {
    height: 790px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        z-index: 2;
        pointer-events: none;
        transition: all ease 0.3s;
        background: rgba(255, 255, 255, 0.50);
    }

}

.gallery-slider__item {
    padding: 0 15px;
}

.gallery-button-prev {
    left: calc(50% - 660px - 15px);
}

.gallery-button-next {
    right: calc(50% - 660px - 15px);
}

.single-object-places-sec {
    padding-bottom: 120px;
}

.single-object-places-sec__slider-wrapper {
    margin-top: 90px;
    width: calc(100% + 30px);
    margin-left: -15px;
    position: relative;
}

.places-slider-slider__item {
    padding: 10px 15px;
}

.places-slider-slider__item-wrapper {
    border-radius: 12px;
    background: $white;
    padding: 5px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.places-slider-slider__item-image {
    width: 100%;
    border-radius: 10px;
    height: 220px;
    display: block;
}

.places-slider-slider__item-info {
    padding: 15px 10px 15px 10px;
}

.places-slider-slider__item-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 10px;
    color: $textColorDark;
    font-family: $titleFont;
}

.places-slider-slider__item-description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $greyV1;
    // font-family: $titleFont;
}

.places-button-prev {
    left: -75px;
}

.places-button-next {
    right: -75px;
}

.single-object-location-sec {
    padding-bottom: 150px;
}

.single-object-location-sec__title {
    margin-bottom: 50px;
}

.single-object-location-sec__map-wrapper {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: 770px;
}

.single-object-recomends-sec {
    padding-bottom: 150px;
}

.single-object-recomends-sec__title {
    margin-bottom: 50px;
}

.single-object-recomends-sec__slider-wrapper {
    position: relative;
    width: calc(100% + 30px);
    margin-left: -15px;
}

.recomend-button-prev {
    left: -75px;
}

.recomend-button-next {
    right: -75px;
}

.recomend-slider__wrapper {
    padding: 10px 15px;
}