$mainFont: "Montserrat", sans-serif;
$titleFont: 'RF Dewi Expanded';

$textColorDark: #1C274C;
$greenV1: #5D736E;
$greenV2: #358170;
$greenV3: #95ED95;
$white: #fff;

$red1: #FF3D40;

$orange1: #EE9B79;