.recommend-object {
    width: 100%;
    height: 535px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.10);
    transition: all ease 0.5s;
    padding: 10px 10px 15px 10px;
    border-radius: 12px;
    display: block;

    .object-element__like {
        top: 5px;
        right: 5px;
    }

    .btn-v1-small {
        margin-top: 0px;
        color: #5D736E;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        background: none;
        text-decoration: underline;
    }
}

.recommend-object-element__img-wrapper {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.recommend-object-element__slider {
    width: 100%;
    height: 100%;
}

.recommend-object-element__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.recommend-object-element__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0 0 0;
    width: 100%;
    height: calc(100% - 230px);
}

.recommend-object-element__title {
    font-family: $titleFont;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 15px;
}

.recommend-object-element__title-link {
    color: $textColorDark;
    transition: all ease 0.3s;

    &:hover {
        color: $greenV2;
        transition: all ease 0.3s;
    }
}






.recommend-object-element__location-row {
    display: flex;
    align-items: center;

    margin-bottom: 15px;

    width: 100%;
    flex-wrap: wrap;
}

.recommend-object-element__location {
    display: flex;
    align-items: center;
    max-width: 100%;

    svg {
        display: block;
        min-width: 20px;
    }
}



.recommend-object-element__location-btn {
    margin-left: 20px;

}

.recommend-object-element__short-description {
    color: #1C274C;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.recommend-object-element__info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.recommend-object-element__info-element {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: $titleFont;
    color: $textColorDark;

    font-size: 13px;
    line-height: 1;
    margin-bottom: 15px;

    b {
        font-size: 14px;
    }

    b {
        font-size: 14px;
        font-weight: 500;
    }

    span {
        color: $greenV1;
    }
}

.recommend-object-element__button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.recommend-object-element__developer-big-card {
    display: block;

    img {
        max-width: 210px;
        display: block;
        max-height: 30px;
    }
}

.recommend-object-element__body-top {
    margin-bottom: 20px;
}

.recommend-object-element__developer-table-view {
    margin-top: 15px;
}

.recommend-object-element__btn-view-object {
    width: 100%;
    padding: 13px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.recommend-element__developer-table-view {
    display: block;
    width: 100%;
}

.recommend-object-element__location {
    display: flex;
    align-items: flex-start;

    svg {
        width: 15px;
        height: auto;
    }
}

.recommend-object-element__location-text {
    color: rgba(28, 39, 76, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding-left: 5px;
    /* 14px */
    width: calc(100% - 15px);

}